* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/book.png);
    background-position: center;
    background-size: cover;
    align-items: center;
}

.contact-wrap {
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}

.content {
    padding: 40px 30px;
    margin: 10px 5px;

}

.content:nth-child(1) {
    flex: 20%;
    color: #fff;
    background: #221303;
    box-shadow: 0 0 8px rgba(250, 250, 250, 0.6);
    border-radius: 5px;
}

.content:nth-child(2) {
    flex: 20%;
    border-radius: 5px;
    background: black;
    box-shadow: 0 0 8px rgba(250, 250, 250, 0.6);
}

.content:nth-child(3) {
    flex: 20%;
    padding: 0;
    box-shadow: 0 0 8px rgba(250, 250, 250, 0.6);

}

.content h1 {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
}

.content h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.content h2 i {
    font-size: 12px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background: #f5f5f5;
    color: #000;
    border-radius: 50px;
    line-height: 30px;
    text-align: center;
}

.content p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-left: 40px;
}

address {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-left: 40px;
}

.content form {
    width: 100%;
    height: 100%;
}

.content form i {
    display: none;
    color: red;
    font-size: 14px;
}

small {
    color: red;
}

.content input {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 4px;
    outline: none;
    padding-left: 12px;
    background: transparent;
    color: white;
    font-size: 12px;
    box-sizing: border-box;
}

.content input::placeholder {
    color: floralwhite;
}

.content textarea {
    width: 100%;
    height: 140px;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 4px;
    outline: none;
    padding: 12px;
    background: transparent;
    color: white;
    font-size: 14px;
    box-sizing: border-box;

}

.content textarea::placeholder {
    color: floralwhite;
}

.content-btn {
    width: 100%;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 4px;
    outline: none;
    padding: 5px;
    background: transparent;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.content iframe {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}